Repository aavishay/right-sizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test

go-fmt:
  name: Format Go code
  entry: bash -c "cd go && go fmt ./..."
  language: system
  pass_filenames: false

go-vet:
  name: Run go vet
  entry: bash -c "cd go && go vet ./..."
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Tidy Go modules
  entry: bash -c "cd go && go mod tidy"
  language: system
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint
  entry: bash -c "cd go && $(go env GOPATH)/bin/golangci-lint run ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests with race detection
  entry: bash -c "cd go && go test -race -v ./..."
  language: system
  pass_filenames: false

go-test-coverage:
  name: Run Go tests with coverage
  entry: ./scripts/check-coverage.sh
  language: system
  pass_filenames: false

go-build:
  name: Build Go binary
  entry: bash -c "cd go && go build ./..."
  language: system
  pass_filenames: false

go-security-scan:
  name: Run Go security scan
  entry: bash -c "cd go && $(go env GOPATH)/bin/govulncheck ./..."
  language: system
  pass_filenames: false

helm-lint:
  name: Lint Helm charts
  entry: bash -c "helm lint helm"
  language: system
  pass_filenames: false

check-go-mod:
  name: Check Go module
  entry: bash -c "cd go && go mod verify"
  language: system
  pass_filenames: false

go-integration-test:
  name: Run Go integration tests
  entry: bash -c "cd go && go test -tags=integration ./..."
  language: system
  pass_filenames: false

Add comprehensive GitHub Actions monitoring documentation
  docs/ACTIONS_MONITORING.md
Due: none

fix: comment out HEALTHCHECK to fix CreateContainerError
  Dockerfile
  Dockerfile.alpine
Due: none

feat: refactor GitHub Actions and fix CreateContainerError
  .github/workflows/actions-dashboard.yml
  .github/workflows/actions-monitoring.yml
  .github/workflows/actions-notifications.yml
  .github/workflows/ci.yml
  .github/workflows/monitoring.yml
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.alpine
Due: none

chore: remove old workflow files
  .github/workflows/docker-build.yml
  .github/workflows/helm-publish.yml
  .github/workflows/test-coverage.yml
  .github/workflows/update-versions.yml
Due: none

feat: refactor GitHub Actions to docker, helm, and release flows
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/helm.yml
  .github/workflows/monitoring.yml
  .github/workflows/release.yml
Due: none

fix: correct helm version in helm.yml
  .github/workflows/helm.yml
Due: none

fix: debug helm lint issue
  .github/workflows/helm.yml
Due: none

fix: use explicit path for helm chart
  .github/workflows/helm.yml
Due: none

fix: add debug flag to helm lint
  .github/workflows/helm.yml
Due: none

fix: run helm lint from within the chart directory
  .github/workflows/helm.yml
Due: none

fix: GitHub Actions workflows for multi-platform Docker builds
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

fix: resolve go compilation errors in admission webhook, validation, policy tests, and logger
  .github/workflows/helm.yml
  go/admission/webhook.go
  go/api/server.go
  go/api/server_test.go
  go/logger/logger_test.go
  go/policy/engine_test.go
  go/retry/retry.go
  go/validation/resource_validator.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: resolve TestContains case sensitivity test failure
  go/retry/retry.go
  go/retry/retry_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: resolve all test failures across packages
  go/admission/webhook_test.go
  go/api/server_test.go
  go/controllers/resize_test.go
  go/policy/engine_test.go
  go/retry/retry.go
  go/retry/retry_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: address Chart.yaml backup file
  helm/Chart.yaml.backup
Due: helm-lint

fix: resolve retry package test failures
  go/retry/retry.go
  go/retry/retry_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: resolve additional test failures in policy and admission packages
  go/admission/webhook_test.go
  go/policy/engine_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: resolve remaining GitHub Actions test failures
  go/api/server.go
  go/api/server_test.go
  go/logger/logger_test.go
  go/metrics/operator_metrics_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

check my changes
  .github/workflows/docker.yml
  go/api/server_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

Update docker workflow
  .github/workflows/docker.yml
Due: none

Add version variables for ldflags and revert Dockerfile to Go 1.25
  go/main.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

Fix BUILD_DATE in GitHub Actions workflow
  .github/workflows/docker.yml
Due: none

Update Chart.yaml format and add temp-chart to .gitignore
  .gitignore
  helm/Chart.yaml
Due: helm-lint

Fix Helm chart structure and resolve lint issues
  helm/.helmignore
  helm/CHANGELOG.md
  helm/Chart.yaml
  helm/Chart.yaml.backup
  helm/README.md
  helm/crds/rightsizer.io_rightsizerconfigs.yaml
  helm/crds/rightsizer.io_rightsizerpolicies.yaml
Due: helm-lint

Add comprehensive README.md to Helm chart
  helm/README.md
Due: helm-lint

Fix Helm workflow to remove --validate flag requiring cluster connection
  .github/workflows/helm.yml
Due: none

chore: update version to 0.1.19 across all components
  CHANGELOG.md
  README.md
  TROUBLESHOOTING_K8S.md
  VERSION
  docs/HELM_CLEANUP_SUMMARY.md
  docs/OCI_HELM_REGISTRY.md
  docs/VERSION_MANAGEMENT.md
  docs/api/openapi.yaml
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
  test-deployments/load-generator.yaml
Due: helm-lint

fix: resolve BUILD_DATE evaluation in release workflow
  .github/workflows/release.yml
Due: none

feat: add generated CRD manifests for Helm deployment
  helm/crds/rightsizer.io_rightsizerconfigs.yaml
  helm/crds/rightsizer.io_rightsizerpolicies.yaml
Due: helm-lint

docs: update installation guide formatting
  INSTALLATION_GUIDE.md
  scripts/publish-helm-chart.sh
Due: none

Update Right Sizer version to 0.1.19
  .github/workflows/k8s-compliance-test.yml
  K8S_COMPLIANCE_IMPLEMENTATION_SUMMARY.md
  K8S_INPLACE_RESIZE_COMPLIANCE_REPORT.md
  Makefile
  demo-k8s-compliance-features.sh
  examples/k8s-compliance-testing/README.md
  examples/k8s-compliance-testing/run-compliance-tests.sh
  examples/k8s-compliance-testing/test-pods.yaml
  go/controllers/compliance_integration_test.go
  go/controllers/inplace_rightsizer.go
  go/controllers/retry_manager.go
  go/controllers/status_conditions.go
  go/controllers/status_conditions_test.go
  go/validation/qos_validator.go
  go/validation/qos_validator_test.go
  grafana-dashboard.json
  prove-real-data.sh
  scripts/check-k8s-compliance.sh
  servicemonitor.yaml
  tests/integration/k8s_inplace_resize_compliance_test.go
  tests/integration/k8s_spec_compliance_check.go
  tests/unit/resize_policy_validation_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: Update GitHub Actions to use non-deprecated actions
  .github/workflows/k8s-compliance-test.yml
  K8S_COMPLIANCE_IMPLEMENTATION_SUMMARY.md
  K8S_INPLACE_RESIZE_COMPLIANCE_REPORT.md
  examples/k8s-compliance-testing/README.md
Due: none

fix: Update Kubernetes versions to use latest v1.33 and v1.32
  .github/workflows/k8s-compliance-test.yml
Due: none

fix: Use specific Kubernetes patch versions for kubectl compatibility
  .github/workflows/k8s-compliance-test.yml
Due: none

fix: Resolve kubectl download issue with stable K8s versions
  .github/workflows/k8s-compliance-test.yml
Due: none

fix: Remove deprecated Kubernetes compliance test workflow
  .github/workflows/k8s-compliance-test.yml
Due: none

docs: add comprehensive v0.2.0 release summary
  RELEASE_0.2.0_SUMMARY.md
Due: none

feat: implement direct pod resizing with in-place resize and organize project structure
  CHANGELOG.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/QUICK_ACCESS_GUIDE.md
  docs/RESIZE_FIX_VALIDATION_REPORT.md
  docs/SELF_PROTECTION_TEST_RESULTS.md
  docs/VERSION_0.2.0_UPDATE_COMPLETE.md
  docs/VERSION_UPDATE_SUMMARY.md
  go/controllers/adaptive_rightsizer.go
  go/controllers/inplace_rightsizer.go
  k8s/demo-workload.yaml
  k8s/monitoring-simple.yaml
  k8s/monitoring-values.yaml
  k8s/right-sizer-servicemonitor.yaml
  k8s/test-resize-pod.yaml
  k8s/test-workload.yaml
  scripts/deploy-arm64.sh
  scripts/deploy-minikube-quick.sh
  scripts/deploy.sh
  scripts/e2e-sanity-tests.sh
  tests/test-deployments/load-generator.yaml
  tests/test-deployments/sample-workload.yaml
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: update test to account for self-protection namespace exclusion
  go/config/config_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

Path conditions:
  go-fmt: any of: go/.*\.go$
  go-vet: any of: go/.*\.go$
  go-mod-tidy: any of: go/go\.mod$
  golangci-lint: any of: go/.*\.go$
  go-test: any of: go/.*\.go$
  go-test-coverage: any of: go/.*\.go$
  go-build: any of: go/.*\.go$
  go-security-scan: any of: go/go\.(mod|sum)$
  helm-lint: any of: helm/.*$
  check-go-mod: any of: go/go\.(mod|sum)$
  go-integration-test: any of: go/.*\.go$
