Repository aavishay/right-sizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test, gosec, hadolint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: helm/templates/.*\.yaml$
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--config-file=.yamllint.yml]
        exclude: (helm/templates/.*\.yaml$|helm/crds/.*\.yaml$|tests/.*\.yaml$|k8s/.*\.yaml$|examples/.*\.yaml$|\.github/.*\.yaml$)

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning, --exclude=SC2145]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: go/go\.(mod|sum)$
        args:
          # Exclude known non-sensitive files that trigger false positives
          - --exclude-files
          - '.*(SECRETS.md|migrate-to-secrets.sh|mongodb-cluster.yaml|mongodb-load-simple.yaml|monitoring-simple.yaml|monitoring-values.yaml|operator-dashboard-local.values.yaml|zz_generated.deepcopy.go|test-rate-config.yaml)$'

  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: bash -c "cd go && go fmt ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: go-vet
        name: Run go vet
        entry: bash -c "cd go && go vet ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Tidy Go modules
        entry: bash -c "cd go && go mod tidy"
        language: system
        files: go/go\.mod$
        pass_filenames: false

      - id: go-test
        name: Run Go tests with race detection
        entry: bash -c "cd go && go test -race -v ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: go-build
        name: Build Go binary
        entry: bash -c "cd go && go build ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: go-security-scan
        name: Run Go security scan
        entry: bash -c "cd go && $(go env GOPATH)/bin/govulncheck ./... || true"
        language: system
        files: go/go\.(mod|sum)$
        pass_filenames: false

      - id: helm-lint
        name: Lint Helm charts
        entry: bash -c "helm lint helm"
        language: system
        files: helm/.*$
        pass_filenames: false

      - id: check-go-mod
        name: Check Go module
        entry: bash -c "cd go && go mod verify"
        language: system
        files: go/go\.(mod|sum)$
        pass_filenames: false

      - id: go-integration-test
        name: Run Go integration tests
        entry: bash -c "cd go && go test -tags=integration ./... || true"
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: gosec
        name: Run gosec security scanner
        entry: bash -c "cd go && (command -v gosec >/dev/null 2>&1 && gosec -fmt json ./... || echo 'gosec not installed, skipping') || true"
        language: system
        files: go/.*\.go$
        pass_filenames: false

      - id: hadolint
        name: Lint Dockerfiles with Hadolint
        entry: bash -c "command -v docker >/dev/null 2>&1 && docker run --rm -v $(pwd):/workdir -w /workdir hadolint/hadolint hadolint \"$@\" || echo 'hadolint not available, skipping'"
        language: system
        files: Dockerfile.*$
        pass_filenames: true

docs: Update ROADMAP - v0.4.0 Complete, v0.5.0 Planned
  ROADMAP.md
Due: none

docs(v0.5.0): Add implementation guide and roadmap documentation
  COMMIT_MESSAGE_V05.md
  ROADMAP.md
  V05_IMPLEMENTATION_SUMMARY.md
  V05_QUICK_REFERENCE.md
  V05_REMAINING_WORK.md
Due: none

docs(v0.5.0): Add implementation guide and roadmap documentation (#45)
  COMMIT_MESSAGE_V05.md
  V05_IMPLEMENTATION_SUMMARY.md
  V05_QUICK_REFERENCE.md
  V05_REMAINING_WORK.md
Due: none

feat(v0.5.0): implement unit tests for scaling, what-if, and recommendations engines
  go/anomaly/detect.go
  go/memstore/store.go
  go/predictor/seasonal_test.go
  go/recommendations/engine.go
  go/recommendations/engine_test.go
  go/scaling/engine.go
  go/scaling/engine_test.go
  go/whatif/simulator.go
  go/whatif/simulator_test.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

feat(v0.5.0): Phase 4 Go alert system - manager and z-score detector
  go/alerts/detector.go
  go/alerts/detector_test.go
  go/alerts/manager.go
  go/alerts/manager_test.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

chore: Bump version to 0.5.0 for alert system release
  VERSION
Due: none

docs: add unified roadmap and update copilot instructions
  UNIFIED_ROADMAP.md
Due: none

docs: unified roadmap v0.5.0 with operator implementation details
  UNIFIED_ROADMAP.md
Due: none

chore: update roadmap
  ROADMAP.md
Due: none

fix: code quality and concurrency fixes in alerts and predictor packages
  go/alerts/detector.go
  go/alerts/manager.go
  go/predictor/seasonal.go
  go/whatif/simulator.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

refactor: extract shared confidence calc, add resource constants, register SeasonalPredictor
  go/predictor/confidence.go
  go/predictor/engine.go
  go/predictor/resource.go
  go/predictor/seasonal.go
  go/predictor/seasonal_test.go
  go/predictor/types.go
  go/recommendations/engine.go
  go/scaling/engine.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

config: enable SeasonalPredictor by default
  go/config/config.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

feat: add capacity planning, predictive scaling, and what-if analysis
  ROADMAP.md
  go/alerts/detector.go
  go/alerts/manager.go
  go/capacity/planner.go
  go/capacity/planner_test.go
  go/memstore/store.go
  go/predictive/scaler.go
  go/predictive/scaler_test.go
  go/whatif/analyzer.go
  go/whatif/analyzer_test.go
  go/whatif/api.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

chore: bump version to 0.6.0
  CHANGELOG.md
  VERSION
  helm/Chart.yaml
Due: helm-lint

chore: add security validation skill and hook
  .claude/hooks/security_check.py
  .claude/skills/security-validation/SKILL.md
Due: none

security: fix high severity issues from gosec scan
  go/alerts/manager.go
  go/api/server.go
  go/controllers/rightsizerpolicy_controller.go
  go/controllers/status_conditions.go
  go/go.mod
  go/go.sum
  go/retry/retry.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, go-build, go-security-scan, check-go-mod, go-integration-test, gosec

security: fix MEDIUM severity issues from gosec scan
  go/audit/audit.go
  go/events/streaming.go
  go/metrics/operator_metrics.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

chore: bump version to 0.6.1
  CHANGELOG.md
  VERSION
  helm/Chart.yaml
Due: helm-lint

ci: fix GitHub Actions permissions for security scans
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

chore: bump version to 0.6.2
  CHANGELOG.md
  VERSION
  go/remediation/remediation-engine.ts
  helm/Chart.yaml
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: helm-lint

chore: bump version to 0.6.2 (#57)
  CHANGELOG.md
  VERSION
  go/remediation/remediation-engine.ts
  helm/Chart.yaml
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: helm-lint

cleanup: remove Helm charts older than 3 months
  charts/index.yaml
  charts/right-sizer-0.1.10.tgz
  charts/right-sizer-0.1.11.tgz
  charts/right-sizer-0.1.12.tgz
  charts/right-sizer-0.1.13.tgz
  charts/right-sizer-0.1.14.tgz
  charts/right-sizer-0.1.15.tgz
  charts/right-sizer-0.1.16.tgz
  charts/right-sizer-0.1.17.tgz
  charts/right-sizer-0.1.18.tgz
  charts/right-sizer-0.1.19.tgz
  charts/right-sizer-0.1.5.tgz
  charts/right-sizer-0.1.6.tgz
  charts/right-sizer-0.1.7.tgz
  charts/right-sizer-0.1.8.tgz
  charts/right-sizer-0.1.9.tgz
  charts/right-sizer-0.2.0.tgz
  charts/right-sizer-0.2.1.tgz
  charts/right-sizer-0.2.2.tgz
  charts/right-sizer-0.2.3.tgz
  charts/right-sizer-0.2.4.tgz
  charts/right-sizer-0.2.5.tgz
Due: none

ci: remove Node.js dashboard tests from workflow
  .github/workflows/pr-checks.yml
Due: none

ci: remove Node.js dashboard tests from workflow (#59)
  .github/workflows/pr-checks.yml
Due: none

fix: correct ObservedGeneration parsing in annotations
  go/controllers/status_conditions.go
  go/controllers/status_conditions_test.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec

fix: correct ObservedGeneration parsing in annotations (#60)
  go/controllers/status_conditions.go
  go/controllers/status_conditions_test.go
Due: go-fmt, go-vet, go-test, go-build, go-integration-test, gosec
