Repository aavishay/right-sizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test, gosec, hadolint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: helm/templates/.*\.yaml$
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--config-file=.yamllint.yml]
        exclude: (helm/templates/.*\.yaml$|helm/crds/.*\.yaml$|tests/.*\.yaml$|k8s/.*\.yaml$|examples/.*\.yaml$|\.github/.*\.yaml$)

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning, --exclude=SC2145]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: go/go\.(mod|sum)$

  - repo: local
    hooks:
      - id: go-fmt
        name: Format Go code
        entry: bash -c "cd go && go fmt ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-vet
        name: Run go vet
        entry: bash -c "cd go && go vet ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: Tidy Go modules
        entry: bash -c "cd go && go mod tidy"
        language: system
        files: go/go\.mod$
        pass_filenames: false
      - id: golangci-lint
        name: Run golangci-lint
        entry: bash -c "cd go && $(go env GOPATH)/bin/golangci-lint run ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-test
        name: Run Go tests with race detection
        entry: bash -c "cd go && go test -race -v ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-test-coverage
        name: Run Go tests with coverage
        entry: ./scripts/check-coverage.sh
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-build
        name: Build Go binary
        entry: bash -c "cd go && go build ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: go-security-scan
        name: Run Go security scan
        entry: bash -c "cd go && $(go env GOPATH)/bin/govulncheck ./..."
        language: system
        files: go/go\.(mod|sum)$
        pass_filenames: false
      - id: helm-lint
        name: Lint Helm charts
        entry: bash -c "helm lint helm"
        language: system
        files: helm/.*$
        pass_filenames: false
      - id: check-go-mod
        name: Check Go module
        entry: bash -c "cd go && go mod verify"
        language: system
        files: go/go\.(mod|sum)$
        pass_filenames: false
      - id: go-integration-test
        name: Run Go integration tests
        entry: bash -c "cd go && go test -tags=integration ./..."
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: gosec
        name: Run gosec security scanner
        entry: bash -c "cd go && (command -v gosec >/dev/null 2>&1 && gosec -fmt json ./... || echo 'gosec not installed, skipping')"
        language: system
        files: go/.*\.go$
        pass_filenames: false
      - id: hadolint
        name: Lint Dockerfiles with Hadolint
        entry: bash -c "command -v docker >/dev/null 2>&1 && docker run --rm -v $(pwd):/workdir hadolint/hadolint \"$@\" || echo 'hadolint not available, skipping'"
        language: system
        files: Dockerfile.*$
        pass_filenames: true

docs: restore helm icon from v0.2.1 (icon.svg, icon.png) for Artifact Hub
  docs/assets/icon.png
  docs/assets/icon.svg
Due: none

docs: remove non-image icon.png placeholder; use SVG (Chart already references svg)
  docs/assets/icon.png
Due: none

Restore Helm chart icon from v0.2.1 for Artifact Hub (#20)
  docs/assets/icon.svg
Due: none

improve: enhance token validation and error handling
  go/api/grpc/server.go
  go/controllers/adaptive_rightsizer.go
  go/controllers/inplace_rightsizer.go
  go/events/streaming.go
  go/main.go
  go/metrics/prometheus.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: improve pre-commit hooks setup and configuration
  .pre-commit-config.yaml
  PRE_COMMIT_SETUP.md
Due: none

chore: fix whitespace; update tests to new NewServer signature; stabilize hadolint hook
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CODE_ANALYSIS_INDEX.md
  CODE_QUALITY_ANALYSIS.md
  CODE_QUALITY_FIXES.md
  Makefile
  examples/rightsizerconfig-full.yaml
  go/api/server.go
  go/api/server_test.go
  go/controllers/adaptive_rightsizer.go
  go/dashboard-api/client.go
  go/dashboard-api/client_test.go
  go/dashboard-api/integration_test.go
  go/events/predictive_monitor.go
  go/events/recommendation_manager.go
  go/events/types.go
  go/go.mod
  go/main.go
  go/metrics/operator_metrics.go
  helm/templates/service.yaml
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test, gosec

feat: predictive monitoring, recommendation manager & API extensions + CI hook stabilization (#21)
  .github/workflows/pr-checks.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CODE_ANALYSIS_INDEX.md
  CODE_QUALITY_ANALYSIS.md
  CODE_QUALITY_FIXES.md
  Makefile
  PRE_COMMIT_SETUP.md
  examples/rightsizerconfig-full.yaml
  go/api/grpc/server.go
  go/api/server.go
  go/api/server_test.go
  go/controllers/adaptive_rightsizer.go
  go/controllers/inplace_rightsizer.go
  go/dashboard-api/client.go
  go/dashboard-api/client_test.go
  go/dashboard-api/integration_test.go
  go/events/predictive_monitor.go
  go/events/recommendation_manager.go
  go/events/streaming.go
  go/events/types.go
  go/go.mod
  go/main.go
  go/metrics/operator_metrics.go
  go/metrics/prometheus.go
  helm/templates/service.yaml
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test, gosec

Update gRPC proto and dashboard client after testing
  api/grpc/v1/rightsizer.proto
  go/dashboard-api/client.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

Fix shellcheck warnings in migration script
  helm/scripts/migrate-to-secrets.sh
Due: helm-lint

docs: add AGENTS.md for agent developers
  AGENTS.md
Due: none

refactor(operator): Phase 1 critical fixes and version bump to 0.2.4
  VERSION
  go/api/grpc/server.go
  go/api/grpc/server_test.go
  go/config/config.go
  go/config/config_test.go
  go/controllers/adaptive_rightsizer.go
  go/controllers/compliance_integration_test.go
  go/controllers/deployment_rightsizer.go
  go/controllers/event_driven_controller.go
  go/controllers/guaranteed_qos_test.go
  go/controllers/inplace_rightsizer.go
  go/controllers/inplace_rightsizer_test.go
  go/controllers/nondisruptive_rightsizer.go
  go/controllers/rightsizer_controller.go
  go/controllers/rightsizerconfig_controller.go
  go/controllers/rightsizerpolicy_controller.go
  go/events/streaming.go
  go/go.mod
  go/go.sum
  go/internal/aiops/engine.go
  go/internal/aiops/engine_test.go
  go/main.go
  go/metrics/metrics_server.go
  go/metrics/prometheus.go
  go/metrics/types.go
  helm/Chart.yaml
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test, gosec

fix(operator): critical stability and quality improvements
  .pre-commit-config.yaml
  go/api/grpc/server.go
  go/api/grpc/server_test.go
  go/controllers/inplace_rightsizer.go
  go/internal/aiops/engine.go
  scripts/check-coverage.sh
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat(refactor): complete Phase 2-4 implementation
  go/config/config.go
  go/controllers/inplace_rightsizer.go
  go/controllers/inplace_rightsizer_cache.go
  go/controllers/inplace_rightsizer_logic.go
  go/health/checker.go
  go/predictor/types.go
  go/validation/resource_validator_integration_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

chore: bump version to 0.2.5
  VERSION
  helm/Chart.yaml
Due: helm-lint

feat: complete Cost Analysis implementation
  go/api/server.go
  go/api/server_test.go
  go/events/recommendation_manager.go
  go/main.go
  go/metrics/operator_metrics.go
  go/metrics/operator_metrics_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat: update operator for auto-apply support and RCA collection
  go/api/server.go
  go/internal/aiops/collector/oom_listener.go
  go/internal/aiops/collector/oom_listener_test.go
  go/internal/aiops/collector/rca.go
  go/internal/aiops/engine.go
  go/internal/aiops/engine_test.go
  go/main.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

chore(release): bump version to 0.3.0
  go/controllers/event_driven_controller.go
  go/dashboard-api/client.go
  go/events/dashboard_bridge.go
  go/events/types.go
  go/internal/aiops/core/types.go
  go/internal/aiops/engine.go
  go/internal/aiops/engine_test.go
  go/internal/aiops/health_reporter.go
  go/internal/aiops/models.go
  go/internal/aiops/narratives/generator.go
  go/main.go
  go/metrics/metrics_server.go
  go/metrics/prometheus.go
  go/metrics/types.go
  helm/Chart.yaml
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, helm-lint, go-integration-test, gosec

chore: update chart version and maintainer email
  helm/Chart.yaml
Due: helm-lint

security: improve JWT token validation in gRPC API
  go/api/grpc/server.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

security: improve JWT token validation in gRPC API (#32)
  go/api/grpc/server.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat: Add advanced remediation engine implementation
  go/remediation/remediation-engine.ts
Due: none

feat: Add advanced remediation engine for v0.3.0
  go/remediation/remediation-engine.ts
Due: none

test: Add Minikube deployment manifest for operator v0.3.0
  k8s/operator-deployment-minikube.yaml
Due: none

test: Add Minikube deployment manifest for operator v0.3.0 (#34)
  k8s/operator-deployment-minikube.yaml
Due: none

Refactor: Replace log package with structured logging (logger)
  go/archive_aiops_legacy/engine.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

Refactor: Replace log package with structured logging (logger) (#35)
  go/archive_aiops_legacy/engine.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: Update ROADMAP with v0.3.0 progress
  ROADMAP.md
  engine_test.go
  migrate_logger.py
Due: none

docs: Update ROADMAP with v0.3.0 progress (#36)
  ROADMAP.md
  engine_test.go
  migrate_logger.py
Due: none

feat: Implement v0.3.0 error handling & health API improvements
  go/errors/errors.go
  go/errors/errors_test.go
  go/health/checker.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: Mark error handling and health API as complete in v0.3.0
  ROADMAP.md
Due: none

feat: Add cached metrics provider for <100ms query latency
  go/errors/errors.go
  go/errors/errors_test.go
  go/health/checker.go
  go/metrics/cached_provider.go
  go/metrics/cached_provider_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: Mark v0.3.0 milestone as COMPLETE 🎉
  ROADMAP.md
Due: none

feat: Add memory store for historical pod metrics (v0.4.0)
  go/memstore/store.go
  go/memstore/store_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat: Add v0.4.0 foundation - memory store & anomaly detection
  go/anomaly/detect.go
  go/anomaly/detect_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat(v0.4.0): Intelligence & ML - Memory Store & Anomaly Detection
  go/anomaly/detect.go
  go/anomaly/detect_test.go
  go/memstore/store.go
  go/memstore/store_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: Update ROADMAP - v0.4.0 Memory Store & Anomaly Detection complete
  ROADMAP.md
Due: none

feat(v0.4.0): Add seasonal prediction algorithm
  go/predictor/seasonal.go
  go/predictor/seasonal_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

feat(v0.4.0): Enhanced Predictor - Seasonal Pattern Analysis
  go/predictor/seasonal.go
  go/predictor/seasonal_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test, gosec

docs: Update ROADMAP - v0.4.0 Complete, v0.5.0 Planned
  ROADMAP.md
Due: none
