Repository aavishay/right-sizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test

go-fmt:
  name: Format Go code
  entry: bash -c "cd go && go fmt ./..."
  language: system
  pass_filenames: false

go-vet:
  name: Run go vet
  entry: bash -c "cd go && go vet ./..."
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Tidy Go modules
  entry: bash -c "cd go && go mod tidy"
  language: system
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint
  entry: bash -c "cd go && $(go env GOPATH)/bin/golangci-lint run ./..."
  language: system
  pass_filenames: false

go-test:
  name: Run Go tests with race detection
  entry: bash -c "cd go && go test -race -v ./..."
  language: system
  pass_filenames: false

go-test-coverage:
  name: Run Go tests with coverage
  entry: ./scripts/check-coverage.sh
  language: system
  pass_filenames: false

go-build:
  name: Build Go binary
  entry: bash -c "cd go && go build ./..."
  language: system
  pass_filenames: false

go-security-scan:
  name: Run Go security scan
  entry: bash -c "cd go && $(go env GOPATH)/bin/govulncheck ./..."
  language: system
  pass_filenames: false

helm-lint:
  name: Lint Helm charts
  entry: bash -c "helm lint helm"
  language: system
  pass_filenames: false

check-go-mod:
  name: Check Go module
  entry: bash -c "cd go && go mod verify"
  language: system
  pass_filenames: false

go-integration-test:
  name: Run Go integration tests
  entry: bash -c "cd go && go test -tags=integration ./..."
  language: system
  pass_filenames: false

security: migrate API tokens and secrets to Kubernetes Secrets
  CHANGELOG.md
  go/dashboard/client.go
  go/main.go
  helm/README.md
  helm/SECRETS.md
  helm/scripts/migrate-to-secrets.sh
  helm/templates/deployment.yaml
  helm/templates/secret.yaml
  helm/values.yaml
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, helm-lint, go-integration-test

fix(tests): update minikube deployment test
  .gitignore
  tests/test-minikube-deployment.sh
Due: none

fix: correct CI/CD badge workflow reference from test-coverage.yml to test.yml
  README.md
Due: none

chore: add comprehensive .gitignore for build artifacts and temporary files
  .gitignore
Due: none

fix: re-enable metrics registration with safe error handling
  go/controllers/adaptive_rightsizer.go
  go/main.go
  go/metrics/operator_metrics.go
  go/metrics/operator_metrics_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

docs: add architecture review and implementation status documentation
  docs/ARCHITECTURE_REVIEW.md
  docs/IMPLEMENTATION_STATUS.md
  docs/LIMITATIONS.md
  docs/PROGRESS_SUMMARY.md
  docs/RUNTIME_TESTING_GUIDE.md
  scripts/test-metrics-fix.sh
Due: none

chore: remove old backup directory version-backup-20250924-235831
  version-backup-20250924-235831/CHANGELOG.md
  version-backup-20250924-235831/Chart.yaml
  version-backup-20250924-235831/README.md
  version-backup-20250924-235831/values.yaml
Due: none

refactor: simplify Makefile and update Helm chart branding
  Makefile
  examples/rightsizerconfig-conservative.yaml
  examples/rightsizerconfig-full.yaml
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/rbac.yaml
  helm/templates/rightsizerconfig.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
  helm/values.yaml
Due: helm-lint

docs: add comprehensive testing documentation and update test status
  README.md
  docs/IMPLEMENTATION_STATUS.md
  docs/README.md
  docs/TESTING_GUIDE.md
  docs/TESTING_QUICK_REFERENCE.md
  tests/integration/integration_test.go
  tests/integration/k8s_inplace_resize_compliance_test.go
  tests/integration/k8s_spec_compliance_check.go
  tests/test-deployment-oversized.yaml
  tests/test-e2e-minikube.sh
Due: none

chore: add test artifacts to .gitignore
  .gitignore
Due: none

fix: standardize Helm chart name to 'right-sizer' for consistency
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/rbac.yaml
  helm/templates/rightsizerconfig.yaml
  helm/templates/secret.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
Due: helm-lint

feat(event-driven): add WIP event-driven architecture and tests
  EVENT_DRIVEN_ARCHITECTURE.md
  api/grpc/v1/rightsizer.proto
  go/api/grpc/server.go
  go/api/grpc/v1/rightsizer.pb.go
  go/api/grpc/v1/rightsizer.proto
  go/api/grpc/v1/rightsizer_grpc.pb.go
  go/audit/audit_test.go
  go/controllers/adaptive_rightsizer_test.go
  go/controllers/event_driven_controller.go
  go/dashboard/client_test.go
  go/events/bus.go
  go/events/bus_test.go
  go/events/streaming.go
  go/events/types.go
  go/go.mod
  go/go.sum
  go/internal/aiops/analyzers/memory_leak_analyzer_test.go
  go/internal/aiops/collector/oom_listener_test.go
  go/internal/aiops/core/bus_test.go
  go/internal/aiops/engine_test.go
  go/internal/aiops/narratives/generator_test.go
  go/internal/platform/capabilities_test.go
  go/remediation/engine.go
  go/remediation/engine_test.go
  helm/values-local.yaml
  scripts/minikube-e2e-sanity.sh
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test, go-test-coverage, go-build, go-security-scan, helm-lint, check-go-mod, go-integration-test

test: fix aiops engine constructor usage and nil listener guard
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  .github/workflows/monitor.yml
  .github/workflows/release.yml
  go/config/config.go
  go/internal/aiops/engine.go
  go/internal/aiops/engine_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

chore: format config.go (cluster identity alignment)
  go/config/config.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

chore: remove monitor.yml and test.yml workflows
  .github/workflows/monitor.yml
  .github/workflows/test.yml
Due: none

chore: bump version to 0.2.1
  VERSION
Due: none

chore: bump version to 0.2.2 (patch)
  README.md
  VERSION
  docs/changelog.md
  helm/Chart.yaml
Due: helm-lint

chore: set all version references to 0.2.1
  README.md
  VERSION
  helm/Chart.yaml
  helm/README.md
  helm/values.yaml
Due: helm-lint

remove: rightsizer-0.2.0.tgz (wrong chart name)
  charts/rightsizer-0.2.0.tgz
Due: none

remove: right-sizer-0.2.2.tgz (withdrawn version)
  charts/right-sizer-0.2.2.tgz
Due: none

chore: remove CI/CD badge from README.md
  README.md
Due: none

feat: enhance pre-commit hooks for quality and security
  .github/copilot-instructions.md
  .github/workflows/docker.yml
  .github/workflows/helm.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .yamllint.yml
  Dockerfile
  Dockerfile.alpine
  Dockerfile.arm64
  Dockerfile.minimal
  docs/ARCHITECTURE_REVIEW.md
  docs/LIMITATIONS.md
  docs/PROGRESS_SUMMARY.md
  docs/RUNTIME_TESTING_GUIDE.md
  helm/values.yaml
  scripts/test-metrics-fix.sh
Due: helm-lint

fix: correct YAML indentation in pre-commit config
  .pre-commit-config.yaml
Due: none

feat: enhance CI/CD pipeline with security scanning and code quality
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.alpine
  Dockerfile.arm64
  Dockerfile.minimal
Due: none

fix: add security-events write permission to workflows
  .github/workflows/docker.yml
  .github/workflows/helm.yml
Due: none

feat: Add dashboard integration client for operator
  go/config/config.go
  go/dashboard-api/client.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

fix: Fix logger format strings and infinite loop warnings
  go/dashboard-api/client.go
  go/dashboard/client.go
  go/events/bus_test.go
  go/events/events_test.go
  go/events/types_test.go
  go/internal/platform/capabilities_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

Feat/dashboard integration (#15)
  go/config/config.go
  go/dashboard-api/client.go
  go/dashboard/client.go
  go/events/bus_test.go
  go/events/events_test.go
  go/events/types_test.go
  go/internal/platform/capabilities_test.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

feat: Integrate comprehensive dashboard client in main.go
  go/main.go
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, go-integration-test

backend: use operatorAuthMiddleware for POST /api/clusters/status to accept operator JWT/rst_* tokens; no functional changes elsewhere
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: none

chore(helm): sync deployment template changes
  helm/templates/deployment.yaml
Due: helm-lint

feat: merge dashboard integration branch into main (squash)
  go/main.go
  helm/templates/deployment.yaml
  right-sizer-dashboard-a4df5c80/backend/src/api/clusters.ts
Due: go-fmt, go-vet, golangci-lint, go-test, go-test-coverage, go-build, helm-lint, go-integration-test

chore(release): bump version to 0.2.2
  VERSION
  helm/Chart.yaml
  helm/values-local.yaml
Due: helm-lint

chore(release): bump operator version to 0.2.2
  VERSION
  helm/Chart.yaml
  helm/values-local.yaml
Due: helm-lint

docs(readme): update badge and examples to 0.2.2
  README.md
Due: none

docs(readme): update operator README to version 0.2.2
  README.md
Due: none

chore(release): bump version to 0.2.3
  README.md
  VERSION
  helm/Chart.yaml
  helm/values-local.yaml
Due: helm-lint

chore(release): bump version to 0.2.3 (#19)
  README.md
  VERSION
  helm/Chart.yaml
  helm/values-local.yaml
Due: helm-lint

Path conditions:
  go-fmt: any of: go/.*\.go$
  go-vet: any of: go/.*\.go$
  go-mod-tidy: any of: go/go\.mod$
  golangci-lint: any of: go/.*\.go$
  go-test: any of: go/.*\.go$
  go-test-coverage: any of: go/.*\.go$
  go-build: any of: go/.*\.go$
  go-security-scan: any of: go/go\.(mod|sum)$
  helm-lint: any of: helm/.*$
  check-go-mod: any of: go/go\.(mod|sum)$
  go-integration-test: any of: go/.*\.go$
